:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-black-color: #000000;
  --bg-color-grey: #2f303a;
  --bg-color-white-grey: #f5f4fa;
  --footer-auth-nav-color: rgba(255, 255, 255, 0.6);
  --transition-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

