.activity {
  padding-top: 0;
}

.activity__title {
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activity-list__item {
  position: relative;
}

.activity-list__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}