.team {
  background-color: var(--bg-color-white-grey);
}

.team__title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  padding-bottom: 30px;
  align-items: center;

  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__img {
  margin-bottom: 30px;
}

.team-list__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list__profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons__item {
  position: relative;
  width: 44px;
  height: 44px;
  padding: 12px;

  fill: #afb1b8;
  border-radius: 50%;

  transition: fill var(--transition-fast), background-color var(--transition-fast);

  &:hover,
  &:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}
