.footer__auth-nav {
  // margin-top: 9px;
  display: flex;
  flex-direction: column;

  margin-top: 8px;
}

.footer-auth-nav__item:nth-child(even) {
  // margin-top: 9px;
  margin-top: 8px;
}

.footer-auth-nav__link {
  color: var(--footer-auth-nav-color);
  text-decoration: none;
  line-height: 1.7;

  transition: color var(--transition-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
