.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--primary-white-color);
  background-color: var(--bg-color-grey);
}

.footer__container {
  // display: flex;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: start;
  }
}

.fotter__logo {
  color: var(--primary-white-color);
  line-height: 1.19;
  font-size: 24px;
}
