body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  color: var(--title-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.container { 
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}