.footer__contacts {
  margin-right: 70px;
}

.footer__addres {
  margin-top: 10px;
}

.footer-addres__location {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
}