.modal {
  padding: 40px;
  width: 528px;
  height: 581px;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

  position: absolute;

  border-radius: 50% 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
}

.modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  transition: fill var(--transition-fast);
}